// Colors
$grey: #dddddd;

// Spacing
$space: 1.4rem;

// Font sizes
$base-font-size: 1.4rem;

// Form inputs
$input-border: $grey;

// Boxed view
$boxed-view-overlay-bg: $grey;
$boxed-view-bg: white;